<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">

                  <tr>
                    <th>Descrição</th>
                    <th>Data</th>
                    @if(!modoPacienteUnico){
                    <th>Nome do Paciente</th>
                    }
                    <th>Tipo de Exame</th>
                    @if (!modoLeitura) {
                      <th>Ações</th>
                      <th>Ações</th>
                    }
                    
                  </tr>
                </thead>

                <tbody>

                @for(testeRapido of lista; track $index){    
                  <tr>
                    <!-- Descrição-->
                    <td>
                        <p class="text-muted mb-0">{{testeRapido.descricao}}</p>
                    </td>

                    <!-- Data de Atendimento-->
                    <td>
                        <div>
                              <p class="text-bold mb-1">{{testeRapido.dataTeste}}</p>
                        </div>
                    </td>

                    <!-- Paciente Atendido-->

                    @if(!modoPacienteUnico){
                    <td>
                        <div>
                            <p class="text-bold mb-1">{{testeRapido.protocoloPreNatal.paciente.nome}}</p>
                        </div>
                    </td>
                    }

                    <!-- Tipo de Exame-->
                    <td>
                      <span [ngClass]="statusTesteService.renderStatusTeste(testeRapido)">{{statusTesteService.listStatusTeste(testeRapido)}}
                      </span>
                    </td>

                    @if(!modoLeitura){
                      <!-- Ações -->
                      <td id="editar">
                        <button type="button" class="btn btn-link btn-sm btn-rounded">Editar</button>
                      </td>
  
                      <!-- Ações -->
                      <td id="deletar">
                          <button type="button" class="btn btn-secondary" mdbRipple>Deletar</button>
                      </td>
                    }
                    

                  </tr>
                }

                </tbody>

                <!--<div class="actions">
                    <button type="button" class="btn btn-primary act-btn">Placeholder</button> 
                    <button type="button" class="btn btn-primary act-btn">Placeholder</button>
                    <button type="button" class="btn btn-primary act-btn">Placeholder</button>
                </div>-->


              </table>
        </div>
    </div>
</div>
