<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5>{{ tituloComponente }}</h5>

          <form #formulario1="ngForm">
            <!-- Campo Nome -->
            <mdb-form-control>
              <label mdbLabel class="form-label" for="nome">Nome:</label>
              <input [(ngModel)]="paciente.nome" mdbInput pattern=".*\S+.*" required type="text" name="nome" class="form-control" />
        
            </mdb-form-control>

            <!-- Campo CPF SEM MASCARA, NAO USAR MASCARA NO INPUT OU TRATAR -->
            <mdb-form-control>
              <label mdbLabel class="form-label" for="cpf">CPF:</label>
              <input [(ngModel)]="paciente.cpf" mdbInput pattern="\d{11}" required type="text" name="cpf" class="form-control" />
      
            </mdb-form-control>

            <!-- Campo Email -->
            <mdb-form-control>
              <label mdbLabel class="form-label" for="email">Email:</label>
              <input [(ngModel)]="paciente.email" mdbInput type="email" required name="email" class="form-control" />
             
            </mdb-form-control>

            <!-- Campo Data de Nascimento -->
            <mdb-form-control>
              <label mdbLabel class="form-label" for="dataNascimento">Data de Nascimento:</label>

              <input [(ngModel)]="paciente.dataNascimento" mdbInput type="date" required name="dataNascimento" class="form-control" />
            </mdb-form-control>

            <!-- Campo Tipo Sanguíneo -->
            <mdb-form-control>
              <label mdbLabel class="form-label" for="tipoSanguineo">Tipo Sanguíneo:</label>

              <input [(ngModel)]="paciente.tipoSanguineo" mdbInput required type="text" name="tipoSanguineo" class="form-control" />
            </mdb-form-control>

            <!-- Campo Status Pré-Natal -->
            <mdb-form-control>
              <label mdbLabel class="form-label" for="statusPreNatal">Status Pré-Natal:</label>

              <select [(ngModel)]="paciente.statusPreNatal" mdbInput required name="statusPreNatal" class="form-select">
                <option [ngValue]="true">Sim</option>
                <option [ngValue]="false">Não</option>
              </select>
            </mdb-form-control>

            <hr />

            <!--Area de endereço dando bug pois nao consigo acessar o endereço pelo paciente-->
            <h5>Endereço</h5>

            <mdb-form-control>
              <label mdbLabel class="form-label" for="rua">Rua:</label>
              
              <input [(ngModel)]="paciente.endereco.rua" mdbInput required type="text" name="rua" class="form-control" />
            </mdb-form-control>

        
            <mdb-form-control>
              <label mdbLabel class="form-label" for="numero">Número:</label>

              <input [(ngModel)]="paciente.endereco.numero" mdbInput required type="number" name="numero" class="form-control" />
            </mdb-form-control>

          
            <mdb-form-control>
              <label mdbLabel class="form-label" for="bairro">Bairro:</label>

              <input [(ngModel)]="paciente.endereco.bairro" mdbInput required type="text" name="bairro" class="form-control" />
            </mdb-form-control>

            <mdb-form-control>
              <label mdbLabel class="form-label" for="cidade">Cidade:</label>

              <input [(ngModel)]="paciente.endereco.cidade" mdbInput required type="text" name="cidade" class="form-control" />
            </mdb-form-control>

         
            <mdb-form-control>
              <label mdbLabel class="form-label" for="cep">CEP:</label>

              <input [(ngModel)]="paciente.endereco.cep" mdbInput pattern="\d{5}-\d{3}" required type="text" name="cep" class="form-control" />
            </mdb-form-control>

          
            <mdb-form-control>
              <label mdbLabel class="form-label" for="descricao">Descrição:</label>

              <textarea [(ngModel)]="paciente.endereco.descricao" mdbInput name="descricao" class="form-control"></textarea>
            </mdb-form-control>

            <br />

            <!-- Botões -->
          
            @if(paciente.id > 0) {
              
              <button [disabled]="!formulario1.valid" (click)="atualizar()" class="btn btn-primary">Atualizar</button>
            } @else {
              <button [disabled]="!formulario1.valid" (click)="cadastrar()" class="btn btn-primary">Salvar</button>
            }
            <a href="admin/pacientes" class="btn btn-default">Voltar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
