@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');


.container{
    font-family: Inconsolata;
}


.col-6{
    margin-top: 2rem;
}

/* Set equal width for each cell */
.table th, .table td {
    width: 25%; /* Adjust this value based on the number of columns */
    text-align: center; /* Center-align content if desired */
}


.table p {
    margin-bottom: 0.25rem; /* Reduce paragraph margin */
}

.btn{
    margin-top: 2rem;
}

.card{
    margin-top: 2rem;
}


