
<div class="container">
    <div class="row">
        <div class="col-12" id="colunaEsquerda"> <!-- 6/12 colunas-->

            <!-- Card da coluna esquerda-->
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Consultas Odontológicas</h5>

                    <app-consultas-odontologicas-list [modoLeitura]=true [modoPacienteUnico]=false></app-consultas-odontologicas-list>

                  </div>
              </div>

        </div> <!-- fim da div da coluna esquerda-->

        <div class="col-12" id="colunaDireita">  <!-- 6/12 colunas-->

            <!-- Card da coluna direita-->
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Testes Rápidos</h5>

                    <app-testes-list [modoLeitura]=true [modoPacienteUnico]=false></app-testes-list>

                </div>
             </div>

        </div>
    </div>
</div>