<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Dashboard</h5>
                  <div class="info">
                    <p class="text-muted mb-0">Nome: </p>
                    <p class="text-muted mb-0">Data de Acesso: {{ dataAtual | date: 'longDate' :'':'pt-BR'}}</p>
                    <p class="text-muted mb-0">Nível de Acesso:</p>
                  </div>
                  <p class="card-text"></p>
                  
                </div>
              </div>

        </div>
    </div>
</div>
