<div class="container">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="header">

            <!-- Exibe o nome do paciente na tela de detalhes -->
            <h2 class="card-title">{{pacienteEncontrado.nome}}

              <span [ngClass]="['status-pequeno', statusPacienteService.renderStatusPaciente(pacienteEncontrado)]">
                {{ statusPacienteService.listStatusPaciente(pacienteEncontrado) }}
              </span>
              

            </h2>
            
            <div class="actions">
              <!-- Lógicas mantidas para os botões de Adicionar e Encerrar Protocolo -->
              @if(pacienteEncontrado.statusPreNatal == true){
                <button
                  (click)="encerrarProtocoloAtivo()"
                  type="button"
                  class="btn btn-secondary"
                  mdbRipple
                  [disabled]="isEncerrarButtonDisabled()"
                >
                  Encerrar Protocolo
                </button>

            }
              @if(pacienteEncontrado.statusPreNatal == false){
                <button
                  (click)="cadastrarProtocolo(pacienteEncontrado.id)"
                  type="button"
                  class="btn btn-secondary"
                  mdbRipple
                >
                  Novo Protocolo
                </button>
            }
              <button type="button" (click)="editarPaciente(pacienteEncontrado)" class="btn btn-tertiary"><fa-icon [icon]="faEdit"></fa-icon></button>
              <!-- chama o método que recebe o paciente encontrado no componente -->
              <button type="button" (click)="deletarById(pacienteEncontrado)" class="btn btn-tertiary" mdbRipple><fa-icon [icon]="faTrash"></fa-icon></button>
            </div>
          </div> <!-- Fim do header-->
  
          <!-- Abas de Navegação -->
          <ul class="nav nav-tabs mt-3" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-bs-toggle="tab" href="#dadosPaciente" role="tab">Informações do Paciente</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#exames" role="tab">Exames</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#protocolos" role="tab">Protocolos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#consultas" role="tab">Consultas Odontológicas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="tab" href="#testesRapidos" role="tab">Testes Rápidos</a>
            </li>
          </ul>
  
          <div class="tab-content mt-3">
            <!-- Informações do Paciente -->
            <div class="tab-pane fade show active" id="dadosPaciente" role="tabpanel">
              <div class="paciente-info">
                <p><strong>Nome:</strong> {{ pacienteEncontrado.nome }}</p>
                <p><strong>CPF:</strong> {{ formataCPFService.formataCpf(pacienteEncontrado.cpf) }}</p>
                <p><strong>Email:</strong> {{ pacienteEncontrado.email }}</p>
                <p><strong>Data de Nascimento:</strong> {{ pacienteEncontrado.dataNascimento | date : "longDate" : "" : "pt-BR" }}</p>
                <p><strong>Tipo Sanguíneo:</strong> {{ pacienteEncontrado.tipoSanguineo }}</p>
                <p><strong>Telefone:</strong> {{ pacienteEncontrado.telefone }}</p>
                <p>
                  <strong>Status Pré-Natal:</strong>                                                <!-- Precisa ficar na mesma linha para não ter gap na tag-->
                  <span [ngClass]="statusPacienteService.renderStatusPaciente(pacienteEncontrado)">{{statusPacienteService.listStatusPaciente(pacienteEncontrado) }}
                  </span>
                </p>
              </div>
  
              <hr />
              <h5>Endereço</h5>
              <div class="endereco-info">
                <p><strong>CEP:</strong> {{ pacienteEndereco.cep }}</p>
                <p><strong>Número:</strong> {{ pacienteEndereco.numero }}</p>
                <p><strong>Rua:</strong> {{ pacienteEndereco.rua }}</p>
                <p><strong>Bairro:</strong> {{ pacienteEndereco.bairro }}</p>
                <p><strong>Cidade:</strong> {{ pacienteEndereco.cidade }}</p>
                <p><strong>Descrição:</strong> {{ pacienteEndereco.descricao }}</p>
              </div>

            </div>

            <!-- Listagem de Exames -->
            <div class="tab-pane fade" id="exames" role="tabpanel">
              <h5>Exames</h5>
            </div>
  
            <!-- Listagem de Protocolos -->
            <div class="tab-pane fade" id="protocolos" role="tabpanel">
              <h5>Protocolos</h5>
              <button
                (click)="cadastrarProtocolo(pacienteEncontrado.id)"
                type="button"
                class="btn btn-secondary mb-3"
                mdbRipple
              >
                Adicionar Novo Protocolo
              </button>

              <app-protocolos-list [modoPacienteUnico]="true" [paciente]="pacienteEncontrado"></app-protocolos-list>
            </div>
  
            <!-- Listagem de Consultas Odontológicas -->
            <div class="tab-pane fade" id="consultas" role="tabpanel">
              <h5>Consultas Odontológicas</h5>
              <p>Futura listagem de consultas odontológicas do paciente.</p>
            </div>
  
            <!-- Listagem de Testes Rápidos -->
            <div class="tab-pane fade" id="testesRapidos" role="tabpanel">
              <h5>Testes Rápidos</h5>
              <p>Futura listagem de testes rápidos realizados pelo paciente.</p>
            </div>
          </div>




        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal para formulário do Protocolo -->
  <ng-template #modalProtocoloForm>
    <div class="modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Dados de Protocolo</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
        </div>
        <div class="modal-body">
          <app-protocolos-form [protocolo]="protocoloEdit" (retorno)="retornoForm($event)"></app-protocolos-form>
        </div>
      </div>
    </div>
  </ng-template>

  <!-- Modal para formulário de edição de Paciente -->

  <ng-template #modalPacientesForm>
    <div class="modal-fullscreen">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Dados de Paciente</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>
    <div class="modal-body">
      
      
       <app-pacientes-form [paciente]="pacienteEdit" (retorno)="retornoForm($event)"></app-pacientes-form>
  
    </div>
  </div>
  
  </ng-template>