<div class="container">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="header">
            <h2 class="card-title">{{protocoloEncontrado.paciente.nome}}</h2>

            
          </div>
          <div class="actions">
            <!-- Condições para botões de ação baseadas no status do protocolo -->
            @if (protocoloEncontrado.statusProtocolo == true) {
            <button
              type="button"
              class="btn btn-secondary"
              (click)="encerrar(protocoloEncontrado)"
              mdbRipple
            >
              Encerrar Protocolo
            </button>
            }
            <button type="button" class="btn btn-tertiary">
              <fa-icon [icon]="faEdit"></fa-icon>
            </button>
          </div>
          <!-- Informações do Protocolo -->
          <div class="protocolo-info">
            <p><strong>Nome do Paciente:</strong> {{ protocoloEncontrado.paciente.nome }}</p>
            <p><strong>Data de Abertura:</strong> {{ protocoloEncontrado.dataAbertura | date : "longDate" : "" : "pt-BR" }}</p>
            <p><strong>Data de Encerramento:</strong> {{ statusInfoProtocoloService.listDataEncerramento(protocoloEncontrado) }}</p>
            <p><strong>Data da Última Menstruação:</strong> {{ protocoloEncontrado.dum | date : "longDate" : "" : "pt-BR" }}</p>
            <p><strong>Data Provável de Parto:</strong> {{ protocoloEncontrado.dpp | date : "longDate" : "" : "pt-BR" }}</p>
            
            <div id="status-info">
              <p><strong>Status do Protocolo:</strong></p>
              <span
                [ngClass]="statusProtocoloService.renderStatusProtocolo(protocoloEncontrado)"
              >
                {{ statusProtocoloService.listStatusProtocolo(protocoloEncontrado) }}
              </span>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </div>
    
  </div>
  