

.card{
    margin-top: 2rem;
    font-family: Inconsolata;
    display: flex;
}

.topo{
    display: flex;
    justify-content: space-between;
}

.btn{
    margin-right: 1rem;
}

.protocolo{
    display: flex;
    flex-wrap: wrap;
}


.infoProtocolo{
    margin-top: 1.5rem;
    margin-right: 3rem;
    margin-bottom: 1.5;
}

.bold{
    font-weight: bold;
}

.actions{
    margin-bottom: 1rem;
    
}

.header{
    display: flex;
    justify-content: space-between;
}
