
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table align-middle mb-0 bg-white" >
                        <thead class="bg-light">
                          <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>Data de Nascimento</th>
                            <th>Tipo Sanguíneo</th>
                            <th>Status</th>
                            <th>Protocolo Pré-Natal</th>
                            <!--<th>Endereço</th>-->
                            <th>Ações</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>

                        @for (paciente of lista; track $index) {
                          <tr>
                            <td> <!-- Célula A: Ícone, Nome e Email-->
                              <div class="d-flex align-items-center">
                                <img
                                    src="{{imagemService.getProximoIcone()}}"

                                    alt=""
                                    style="width: 45px; height: 45px"
                                    class="rounded-circle"
                                    />
                                <div class="ms-3">
                                  <p class="fw-bold mb-1">{{paciente.nome}}</p>
                                  <p class="text-muted mb-0">{{paciente.email}}</p>
                                  <!-- ERRO: NG5002: Incomplete block "gmail". If you meant to write the @ character, you should use the "&#64;" HTML entity instead.-->
                                </div>
                              </div>
                            </td>

                            <td> <!-- Célula B: CPF-->
                                <p class="fw-normal mb-1">{{paciente.cpf}}</p>
                            </td>

                            <td> <!-- Célula C: Data de Nascimento--> 
                              <p class="fw-normal mb-1">{{ paciente.dataNascimento | date:'MMM d, y' :'':'pt-BR'}}</p> <!-- NÃO CONSEGUI USAR O DatePipe-->
                              
                              <!-- 'longDate': equivalent to 'MMMM d, y' for en_US locale (e.g. September 3, 2010)-->
                              <p class="text-muted mb-0">{{verificaMaioridade(paciente)}}</p>
                            </td>

                            <td> <!-- Célula D: Tipagem Sanguínea-->
                                <p class="text-muted mb-0">{{paciente.tipoSanguineo}}</p>
                            </td>

                            <td><!-- Célula E: Status do Pré-Natal-->
                              <span class="badge badge-success rounded-pill d-inline">Ativo</span>
                            </td>

                            
                            <td><!-- Célula F: Protocolo-->
                                <button type="button" class="btn btn-link btn-sm btn-rounded">
                                    Protocolo Atual
                                  </button>

                                  <button type="button" class="btn btn-link btn-sm btn-rounded">
                                    Protocolos Paciente
                                  </button>
                            </td>

                            <td><!-- Célula G: Editar Paciente-->
                                <button type="button" class="btn btn-info" mdbRipple routerLink = "admin/pacientes/editar/{{paciente.id}}">Editar</button>                
                            </td>

                            <td>
                                <button type="button" class="btn btn-danger" mdbRipple>Deletar</button>
                            </td>
                          </tr> <!-- FIM DO PACIENTE -->

                        }

                        </tbody>
                      </table>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- 
    TODO:: LISTA DE PACIENTES

    [CÉLULA A - ÍCONE, NOME, EMAIL]
        * Selecionar automaticamente uma das fotos dentro de public/assets/images/patientIcons para cada paciente renderizado
        * [FEITO] Gerar automaticamente o trecho "&#64;" para substituir o @ dentro do endereço de email

    [CÉLULA B - CPF]
        * Aplicar máscara com . e - (TODO: correto fazer aqui??)

    [CÉLULA C- - DATA DE NASCIMENTO, MAIORIDADE]
        * Converter a data de nascimento para o formato LongDate e EM PORTUGUÊS. TODO: Verificar existência de maneira de fazer isso nativamente.
        * [FEITO]Elaborar uma função que compara a data de nascimento do paciente com a data atual e determina o status de maioridade do Paciente.

    [CÉLULA D - TIPAGEM SANGUÍNEA] PROF:: CONSIDERAR DEIXAR DENTRO DE DETALHES
    
    [CÉLULA E - STATUS DO PRÉ-NATAL]
        * Elaborar uma função que verifica se a paciente possui algum protocolo em aberto

    [CÉLULA F - PROTOCOLO] PROF:: CONSIDERAR DEIXAR A PARTE DE LISTA DE PROTOCOLOS DENTRO DE DETALHES
        * Elaborar uma função que verifica se a paciente possui algum protocolo em aberto. Caso não, o botão ficará DISABLED e não poderá ser clicado.

    [CÉLULA G - ]
    -->
    
    <!--https://www.youtube.com/watch?v=Hh6uLjawNpQ 27:40-->