.card{
    margin-top: 2rem;
    
}


.input-group{
    margin-bottom: 2rem;
}

.inactive-button {
    pointer-events: none; 
    color: gray; 
    opacity: 0.6; 
  }

  .modal-fullscreen {
    width: 90vw; 
    height: 90vh; 
    max-width: none; 
    max-height: none; 
    margin: auto;
    position: fixed; 
    top: 5vh;
    left: 5vw; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
  }

 