/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

body{
    background-color: rgb(255, 255, 255); /*na vídeoaula de tela de login determinamos a cor do fundo por aqui, mas eventualmente gostaria de encontrar uma alternativa pois
    no restante das páginas a cor de fundo será outra*/
    
    font-family: Inconsolata;
}


.modal-fullscreen {
    width: 90vw; 
    height: 90vh; 
    max-width: none; 
    max-height: none; 
    margin: auto;
    position: fixed; 
    top: 5vh;
    left: 5vw; 
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; 
  }
